.heading-content{
    color: brown;   
    font-size:25px;
    font-weight: bold;
}
.home{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.success{
    background-color: #967f50;
    color: blue;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.success :hover{
    background-color: red;
}